* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  color: #fff;
  outline: 0 none;
}

button {
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  padding: .4em .8em;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  margin: .2em;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
}

button:focus {
  background-color: black;
  outline: 0 none;
  color: white;
}

#welcome {
  height: 100vh;
  position: relative;
  background-color: black;
}

#projects {
  height: 100vh;
  position: relative;
  background-color: white;
}

.fa-chevron-down {
  position: absolute;
  bottom: 20px;
  color: white;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
}

.fa-chevron-up {
  position: absolute;
  color: black;
  top: 9px;
  z-index: 2;
  left: 50%;
  transform: translate(-47%);
}

.project-filter {
  padding-top: 5%;
  padding-bottom: 5%;
}

.hidden {
  visibility: hidden;
}

.center {
  text-align: center;
}

.center-screen {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Container .mix {
  display: none;
}

.grid {
  background: white;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item { width: 33.333%; }

.grid-item--width2 { width: 40%; }

.flip {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.flip-180 {
  color: black;
  -webkit-transform: translate(-50%, 65px) rotate(180deg);
  -moz-transform: translate(-50%, 65px) rotate(180deg);
  -o-transform: translate(-50%, 65px) rotate(180deg);
  transform: translate(-50%, 65px) rotate(180deg);
}

.element {
  font-family: 'Andale Mono', AndaleMono, monospace;
  display: inline-block;
  font-size: 30px;
  color: white;
}

.typed-cursor {
  opacity: 1;
  color: white;
  font-size: 30px;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  position: fixed;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  z-index: 2000;
  display: block;
  position: fixed;
  background: #ffffff;
  pointer-events: none;
}

/* Extra Extra Small Device, Phone */
@media only screen and (min-width: 320px) {
  .project-filter {
    padding-top: 14%;
    padding-bottom: 14%;
  }
}

/* Extra Small Devices, Phone */
@media only screen and (min-width: 480px) {
  .project-filter {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .project-filter {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
